<%= form_for task, url: project_task_path(task.project, task), remote: true do |form| %>
  <div class="col-xs-2 task-cell">
    <div class="form-group">
      <%= form.select :status, %w(new in-progress completed), { include_blank: false, include_hidden: false }, { class: 'form-control' } %>
    </div>
  </div>
  <div class="col-xs-6 task-cell">
    <div class="form-group">
      <%= form.text_field :name, autofocus: true, class: 'form-control', required: true, maxlength: '50', minlength: '2' %>
    </div>
  </div>
  <div class="col-xs-2 task-cell">
    <div class="form-group pull-right">
      <%= form.text_field :deadline, class: 'form-control datetimepicker' %>
    </div>
  </div>
<% end %>
<div class="col-xs-2 task-cell">
  <%= render partial: 'tasks/links', locals: { task: task } %>
</div>