<%= form_for task, url: project_task_path(task.project, task), remote: true do |form| %>
  <div class="col-xs-2">
    <div class="form-group">
      <%= form.select :status, %w(new in-progress completed), {}, { class: 'form-control', required: true } %>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <%= form.text_field :name, autofocus: true, class: 'form-control', required: true, maxlength: '50', minlength: '2' %>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker'>
        <%= form.text_field :deadline, class: 'form-control' %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
<% end %>

<div class="col-xs-2">
  <%= link_to 'Up', up_project_task_path(task.project, task), remote: true %>
  /
  <%= link_to 'Down', down_project_task_path(task.project, task), remote: true %>
</div>
<div class="col-xs-1"><%= link_to 'Edit', edit_project_task_path(task.project, task), remote: true, class: 'btn btn-xs btn-default' %></div>
<div class="col-xs-1"><%= link_to 'Delete', project_task_path(task.project, task), method: :delete, remote: true, class: 'btn btn-xs btn-danger' %></div>