<div class="col-xs-2"><%= task.status %></div>
<div class="col-xs-4"><%= task.name %></div>
<div class="col-xs-2"><%= task.deadline if task.deadline %></div>

<div class="col-xs-2">
  <%= link_to 'Up', up_project_task_path(task.project, task), remote: true %>
  /
  <%= link_to 'Down', down_project_task_path(task.project, task), remote: true %>
</div>
<div class="col-xs-1"><%= link_to 'Edit', edit_project_task_path(task.project, task), remote: true, class: 'btn btn-xs btn-default' %></div>
<div class="col-xs-1"><%= link_to 'Delete', project_task_path(task.project, task), method: :delete, remote: true, class: 'btn btn-xs btn-danger' %></div>