<div class="project-item text-left" data-project-id="<%= project.id %>">
  <div class="project-heading blue-gradient">
    <div class="project-icon inner-text-shadow pull-left">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    </div>
    <div class="project-name pull-left">
      <% if controller_name == 'projects' && action_name == 'edit' && project.id == @project.id %>
        <%= render partial: 'form', locals: { project: project } %>
      <% else %>
        <p><%= project.name %></p>
      <% end %>
    </div>
    <div class="project-links pull-right">
      <%= link_to edit_project_path(project), remote: true do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      <% end %>
      <span class="divider">|</span>
      <%= link_to project_path(project), method: :delete, remote: true, 'data-confirm' => 'Are you sure?' do %>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="project-body">
    <div class="new-task gray-gradient">
      <div class="new-task-icon inner-text-shadow pull-left">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </div>
      <%= render partial: 'tasks/new_task_form', locals: { project: project } %>
    </div>
    <div class="tasks-list">
      <%= render project.tasks.order(:priority) %>
    </div>
  </div>
</div>