<div class="panel panel-primary text-left" data-project-id="<%= project.id %>">
  <div class="panel-heading">
    <div class="project-name pull-left">
      <% if action_name == 'edit' && project.id == @project.id %>
        <%= render partial: 'form', locals: { project: @project } %>
      <% else %>
        <%= project.name %>
      <% end %>
    </div>
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path(project), remote: true %>
      <%= link_to 'Delete', project_path(project), method: :delete, remote: true %>
    </div>
  </div>
  <div class="panel-body"></div>
</div>