<div class="project-item text-left" data-project-id="<%= project.id %>">
  <div class="project-heading blue-gradient">
    <div class="project-name pull-left">
      <% if controller_name == 'projects' && action_name == 'edit' && project.id == @project.id %>
        <%= render partial: 'form', locals: { project: project } %>
      <% else %>
        <%= project.name %>
      <% end %>
    </div>
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path(project), remote: true %>
      <%= link_to 'Delete', project_path(project), method: :delete, remote: true %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div class="new-task">
      <%= render partial: 'tasks/new_task_form', locals: { project: project } %>
    </div>
    <br>
    <div class="tasks-list">
      <%= render project.tasks.order(:priority) %>
    </div>
  </div>
</div>