<div class="panel panel-primary text-left" data-project-id="<%= project.id %>">
  <div class="panel-heading">
    <div class="project-name pull-left">
      <% if controller_name == 'projects' && action_name == 'edit' && project.id == @project.id %>
        <%= render partial: 'form', locals: { project: project } %>
      <% else %>
        <%= project.name %>
      <% end %>
    </div>
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path(project), remote: true %>
      <%= link_to 'Delete', project_path(project), method: :delete, remote: true %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <%= render partial: 'new_task_form', locals: { project: project } %>
    <br>
    <div class="tasks-list">
      <table class="table">
        <tbody>
        <%= render project.tasks %>
        </tbody>
      </table>
    </div>
  </div>
</div>